<style>
div{
 
    
}
</style>
<div id="container">


 
<h2 style="color:#FF7433; font-family:MeriendaOne-Regular; font-size:30px">Course Details List</h2>
  </div>
  <div id="body"  class="panel-body" >
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="color:red; font-family:OleoScript-Regular" >Name </th>
          <th style="color:green; font-family:OleoScript-Regular">Email</th>
          <th style="color:blue; font-family:OleoScript-Regular">Mobile</th>
          <th style="color:#FF7433; font-family:OleoScript-Regular">Technology</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td style="color:red; font-family:OleoScript-Regular">{{employee.firstName}}</td>
          <td style="color:green; font-family:OleoScript-Regular">{{employee.lastName}}</td>
          <td style="color:blue; font-family:OleoScript-Regular">{{employee.emailId}}</td>
          <td style="color:#FF7433; font-family:OleoScript-Regular">{{employee.fee}}</td>
    
          <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>