<h2 style="color:#FF7433; font-family:MeriendaOne-Regular; font-size:50px">Course Details</h2> 

<hr/>
<div *ngIf="employee">
 <br>
 <div  style="color:red; font-family:OleoScript-Regular; font-size:30px">
    <label><b>Name: </b> {{employee.firstName}} </label>
  </div>
<br>
  <div style="color:green; font-family:OleoScript-Regular; font-size:30px">
    <label ><b>Email: </b></label> {{employee.lastName}}
  </div>
<br>
  <div style="color:blue; font-family:OleoScript-Regular; font-size:30px">
    <label ><b>Mobile: </b></label>  {{employee.emailId}}

 </div> 
<br>
<div style="color:black; font-family:OleoScript-Regular; font-size:30px">
    <label><b style="color:red;">Technology: </b></label> {{employee.fee}}
  </div>
</div>



<br>
<br>
<br>
<button (click)="list()" class="btn btn-primary"  style="color:white;  font-family:OleoScript-Regular; font-size:30px">Back to Course List</button><br>


