<style>

div{
  
 background-size:cover;
width:100%;
height: 100%; 
    
}


</style>
<nav class="navbar navbar-expand-sm bg-primary  navbar-dark purple lighten">
  <!-- Links -->
  <ul class="navbar-nav">
    <li >
        <a class="navbar-nav"  routerLink="employees" class="nav-link" routerLink="list" style="color:white; font-family:MeriendaOne-Regular; font-size:20px">Course List</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active" style="color:white; font-family:MeriendaOne-Regular; font-size:20px">Enroll Course </a>
    </li>
  <li class="nav-item" ><a  class="nav-link" routerLink="signin" style="color:#43FF33; font-family:MeriendaOne-Regular; font-size:20px">Contact</a></li>
  <li class="nav-item" ><a class="nav-link" routerLink="about"  style="color:#FFBE33; font-family:MeriendaOne-Regular; font-size:20px">About</a></li>


  </ul>
</nav>

  
 <h2 style="text-align: center;">{{myimage}}</h2>
 <div id ="container">   
  <router-outlet ></router-outlet>
</div>

<div id="footer">
<footer class="footer">
 
      <span style="color:white; font-family:OleoScript-Regular; font-size:20px;">All Rights Reserved 2022 @Aira.Inc</span>
</footer>
</div>